
@import url('https://fonts.googleapis.com/css?family=Lato:400');

html {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 , h2 , h3 , h4 , h5{
  font-family: 'Lato', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

/*.small-box h3{
  z-index: 5;
}*/

@media (max-width: 750px) {
  .small-box {
    text-align: center;
  }
}

/* label color */
  .input-field label {
    color: ##64b5f6;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label , .input-field input[type=email]:focus + label , .input-field input[type=password]:focus + label , .input-field input[type=tel]:focus + label{
    color: #64b5f6;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus , .input-field input[type=email]:focus , .input-field input[type=password]:focus , .input-field input[type=tel]:focus{
    border-bottom: 1px solid #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6;
  }
  /* valid color */
  .input-field input[type=text].valid , .input-field input[type=email].valid , .input-field input[type=password].valid , .input-field input[type=tel].valid{
    border-bottom: 1px solid #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6;
  }
  /* invalid color */
  .input-field input[type=textl].invalid , .input-field input[type=email].invalid . .input-field input[type=password].invalid , .input-field input[type=tel].invalid {
    border-bottom: 1px solid #f00;
    box-shadow: 0 1px 0 0 #f00;
  }

  /* icon prefix focus color */
     .input-field .prefix.active {
       color: #64b5f6;
     }

a .small-box .inner h5, a .small-box .inner i {
  color: #000;
  text-decoration: none;
}

.casing{
  margin: 20px 20px 0px 20px;
}

#exchangerate{
  height: 300px;
}

.nav-wrapper ul li a :hover , .hide-on-med-and-down li a :hover {
  color: #ffffff;
}
